
/*

#map{
    border-style: solid;
    border-width: medium;
    border-radius: 3px;
    margin: 0;
    position: absolute;
    top:-999;
    z-index: -9999;
  }
*/

body {
    padding: 0;
    margin: 0; }
    html, body, #map { height: 100%;
    width: 100%; }
    